// SASS style testing, belongs with test-styles.js
.button {
  display: inline-block;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  background-color: #34495e;
  color: #ecf0f1;
  padding: 0.7em 1em;
}

.button--disabled {
  opacity: 0.3;
}

.button--hidden {
  opacity: 0;
}
